@import "forms";
@import "sidebar";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: rgb(36, 36, 36);
    color: white;
}

.main-div {
    display: flex;
}

.display-links {
    width: 80%;
    border: 1px solid blue;
}