.sidebar {
    width: 20%;
    height: 100vh;
    position: fixed;
    overflow-y: scroll;
    $createLinkColor: rgb(0, 211, 226);


    .buttons {
        button {

            padding: 10px 30px;
            position: relative;
            font-size: 15px;
            font-weight: bold;
            background-color: transparent;
            left: 50%;
            transform: translateX(-50%);
            margin: 20px 0;
            border-radius: 20px;

            &:hover {
                text-shadow: 0.05px 0.05px 1px black;
                cursor: pointer;
                color: white;
            }
        }

        .create-link-button {
            border: 3px solid $createLinkColor;
            color: $createLinkColor;

            &:hover {
                background-color: $createLinkColor;
                box-shadow: 0 0 15px $createLinkColor;
            }
        }

        .create-link-button.disabled {
            background-color: $createLinkColor;
            color: black;
            text-shadow: none;
            opacity: 0.2;
            cursor: auto;
        }

        .generate-link {
            $generateLinkColor: blue;

            border: 3px solid $generateLinkColor;
            color: $generateLinkColor;

            &:hover {
                background-color: $generateLinkColor;
                box-shadow: 0 0 15px $generateLinkColor;
            }

        }

    }

    .filter {

        .filterable {
            margin: 30px 0;
            font-weight: bold;

            .title {
                position: relative;
                left: 20px;
                font-size: 25px;
                color: rgb(224, 224, 224);
            }

            .elements {
                display: flex;
                flex-wrap: wrap;


                .element {
                    position: relative;
                    margin: 10px;
                    padding: 10px;
                    border-radius: 10px;
                    font-size: 15px;
                    cursor: pointer;
                    box-shadow: 0 0 4px white;

                    .count {
                        background-color: skyblue;
                        color: black;
                        font-weight: bold;
                        border-radius: 50%;
                        padding: 5px 10px;
                        position: absolute;
                        top: -15px;
                        right: -5px;
                        font-size: 13px;

                    }
                }

                .tag {
                    background-color: rgb(7, 94, 61);
                }

                .tag.clicked {
                    $bgColor: rgb(2, 255, 137);
                    background-color: $bgColor;
                    box-shadow: 0 0 10px $bgColor;
                    color: black;
                }

                .browser {
                    background-color: rgb(6, 14, 106);
                }

                .browser.clicked {
                    $bgColor: rgb(0, 208, 255);
                    background-color: $bgColor;
                    box-shadow: 0 0 10px $bgColor;
                    color: black;
                }
            }
        }
    }
}